<div class="container">
  <h1>Dynamic Table Of Users</h1>

    <!-- Search and Sort Controls -->
    <div class="search-sort-controls">
      <input
        type="text"
        [(ngModel)]="searchQuery"
        (input)="search()"
        placeholder="Search by name..."
      />
  
      <!-- Sorting radio buttons -->
      <div class="sort-options">
        <label>
          <input type="radio" name="sort" (change)="sort('asc')" /> Sort A-Z
        </label>
        <label>
          <input type="radio" name="sort" (change)="sort('desc')" /> Sort Z-A
        </label>
      </div>
    </div>
  <table>
    <thead>
      <tr>
        <th>Sr. No.</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Gender</th>
        <th>Age</th>
      </tr>
    </thead>
    <tbody>
      <!-- No Data Message -->
      <tr *ngIf="displayedUsers.length === 0">
        <td colspan="2" class="no-data">No data found</td>
      </tr>

      <tr *ngFor="let user of displayedUsers; let i = index">
        <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
        <td>{{ user.name.first }} {{ user.name.last }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
        <td>
          {{ user.location.street.number }} {{ user.location.street.name }} <br>
          {{ user.location.city }}, {{ user.location.state }} <br>
          {{ user.location.postcode }} {{ user.location.country }}
        </td>
        <td>{{ user.gender }}</td>
        <td>{{ user.dob.age }}</td>
      </tr>
    </tbody>
  </table>

<!-- Pagination controls -->
<div class="pagination-controls">
  <button (click)="prevPage()" [disabled]="currentPage === 1">Prev</button>
  <button (click)="nextPage()" [disabled]="currentPage === getMaxPage()">Next</button>
</div>

